body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #00004d),
    url("https://i.ytimg.com/vi/yQbJRGs0fy8/maxresdefault.jpg") center;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    background: linear-gradient(#100241, black);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid gold;
    input {
        outline: 0;
        background-color: white;
        height: 30px;
        border: 0;
        padding-left: 5px;
    }
    button {
        height: 36px;
        background-color: white;
        cursor: pointer;
    }
}

.game {
    display: flex;
    &__timer {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: gold;
        border-radius: 50px;
        padding: 20px;
        color: black;
        font-weight: bold;
        font-size: 30px;
    }
    &__questions {
        padding: 20px;
        width: 80%;

        &__title {
            color: white;
            margin: 20px 0;
            font-size: 25px;
            background: linear-gradient(#100241, black);
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            border: 2px solid gold
        }
        &__buttons {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            button {
                width: 46%;
                margin: 1%;
                background: linear-gradient(#100241, black);
                text-align: center;
                padding: 20px;
                border-radius: 10px;
                border: 2px solid gold;
                font-size: 20px;
                color: white;
                cursor: pointer;
            }
        }
    }
    &__prize {
        // background-color: rgb(17, 11, 105);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #00004d);
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        p {
           font-size: 22px;
           padding: 10px;
        }
    }
    &__over {
        background: linear-gradient(#100241, black);
        width: 300px;
        height: 300px;
        border-radius: 5px;
        text-align: center;
        border: 2px solid gold;
        color: white;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        p {
            margin-top: 30px;
            color: gold;
            font-size: 30px;
        }
    }
}

.correct {
    animation: correct 3s ease forwards;
}

.incorrect {
    animation: incorrect 3s ease forwards;
}

@keyframes correct {
    0%,
    22%,
    42% {
      background: mediumblue;
    }
    20%,
    40%,
    60% {
      background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
      background: green;
    }
  }

  
@keyframes incorrect {
    0%,
    22%,
    42% {
      background: mediumblue;
    }
    20%,
    40%,
    60% {
      background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
      background: red;
    }
  }